/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/protected/uploads/*
!app/cache/.gitkeep
!app/logs/.gitkeep
!protected/uploads/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
