 <li>
	<a href="{{ path('admin_project_index')}}">
		<i class="fa fa-compass"></i>
		<span>Proyectos</span>
	</a>
</li>
 <li>
	<a href="{{ path('admin_category_index')}}">
		<i class="fa fa-filter"></i>
		<span>Categorias</span>
	</a>
</li>
 <li>
	<a href="{{ path('admin_complextag_index')}}">
		<i class="fa fa-crosshairs"></i>
		<span>Tags</span>
	</a>
</li>	